.popup {
	
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: opacity .3s;
	background-color: rgba($color-black, .8);
	opacity: 0;
	visibility: hidden;

	//GRACEFUL DEGRADATION
	@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)){
		
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba($color-black, .3);

	}

	&__content {
	
		@include absCenter;

		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);
		border-radius: .3rem;
		overflow: hidden;
		display: table;
		transition: all .4s .2s;

		transform: translate(-50%, -50%) scale(.3);
		opacity: 0;
	}

	&__left {
		width: 33.333333%;
		display: table-cell;
	}

	&__right {
		width: 66.666667%;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;
	}

	&__img {
		display: block;
		width: 100%;
	}
	
	&__text {
		font-size: 1.5rem;
		margin-bottom: 4rem;

		column-count: 2;
		column-gap: 4rem;
		column-rule: 1px solid $color-gray-light-2;
		hyphens: auto;
	}

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target &__content {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}

	&__close {

		&:link,
		&:visited {
			color: $color-gray-dark;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			text-decoration: none;
			font-size: 3rem;
			display: inline-block;
			line-height: 1rem;
		}

		&:hover {
			color: $color-primary;
		}


	}


}